################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ChampionsLeague/v15/.suo
*.suo
/ChampionsLeague/ChampionsLeague/bin
/ChampionsLeague/ChampionsLeague/obj/Debug
/ChampionsLeague/ChampionsLeague.Tests/obj/Debug
/ChampionsLeague/packages
/.vs/slnx.sqlite
/.vs
/ChampionsLeague/.vs
/ChampionsLeague/ChampionsLeague.Tests/bin/Debug
/ChampionsLeague/ChampionsLeague.Development/bin/Debug
/ChampionsLeague/ChampionsLeague.Development/obj/Debug
/ChampionsLeague/ChampiornsLeague.Agent/bin/Debug
/ChampionsLeague/ChampiornsLeague.Agent/obj/Debug
