<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="hostUrl" value="http://localhost:12888" />
    <add key="publicDirectoryPath" value="..\..\..\ChampionsLeague\public" />
  </appSettings>
</configuration>